################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PremiumCalculator.UI/obj
/PremiumCalculator.API/Persistence/obj
/PremiumCalculator.API/Functions/Properties
/PremiumCalculator.API/Domain/obj
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/PremiumCalculator/v16
/.vs/PremiumCalculator/DesignTimeBuild
/.vs/PremiumCalculator/config
/PremiumCalculator.API/Application/obj
/PremiumCalculator.UI/bin/Debug/netcoreapp3.1
/PremiumCalculator.API/Application/bin/Debug/netcoreapp3.1
/PremiumCalculator.API/Domain/bin/Debug/netcoreapp3.1
/PremiumCalculator.API/Persistence/bin/Debug/netcoreapp3.1
/PremiumCalculator.API/WebAPI/bin/Debug/netcoreapp3.1
/PremiumCalculator.API/WebAPI/obj
/PremiumCalculator.UI.Tests/bin/Debug/netcoreapp3.1
/PremiumCalculator.UI.Tests/obj
/Application.Tests/bin/Debug/netcoreapp3.1
/Application.Tests/obj
/WebAPI.Tests/bin/Debug/netcoreapp3.1
/WebAPI.Tests/obj
/RepositoryTests/bin/Debug/netcoreapp3.1
/RepositoryTests/obj
